<table>
	<thead>
		<tr>
			<th>제목</th>
			<th>작성자</th>
		</tr>
	</thead>
	<tbody>
		<% @songs.each do |song| %>
			<tr>
				<td><%= link_to song.title, song %></td>
				<td><%= song.user.name %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "새 음악 작성", new_song_path %>